@import url('https://fonts.googleapis.com/css?family=Handlee');
.App {
  text-align: center;
  font-family: Handlee;
  font-size: 40px;
  background-color: #E1B1AF;
  color: white;
  vertical-align: top;
  margin: 0;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #E1B1AF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(70px + 2vmin);
  color: white;
}

.btn{
  background-color: white;
  border-color: white;

}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
